<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr style="color: rgb(106, 136, 148);">
                <th>1</th>
                <th>Dev Web</th>
                <th>dev-web</th>
                <th></th>
            </tr>
        </tbody>
        
    </table>
</div>

<%- include ('../../partials/footer.ejs') %>