<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand " href="/">
        BlogExpress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">artigos</a>
        </li>
    </ul>
</nav>

